.page-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 11px;
  padding-left: 20px;
}

.page-header__toggle{
  display: block;
  margin-top: -30px;
  padding-left: 255px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    padding-left: 29px;
    height: 112px;
  }
  .page-header__icon{
    display: none;
  }
}


@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    padding-left: 109px;
    height: 203px;
    padding-top: 43px;
  }

}
