.page-footer{
    background-color: @white-three;
}

.social__list{
    list-style: none; /* Отменим точки у списка*/
}

.page-footer_copyright__description {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
}
