.page-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 11px;
    padding-left: 20px;
}

.page-header__toggle{
   padding-left: 60px;
   margin-top: -15px;
}

@media (min-width: @tablet-width) {
    .page-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;
    }
  }
  
  
  @media (min-width: @desktop-width) {
    .page-header {
    }
  }
  