.present__description {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: white;
    width: 170px;
    position: absolute;
    padding-left: 60px;
}

.present__image{
    z-index: -1;
    padding-left: 20px;
}

.present{
    position: relative; 
    background-image: url(../img/gift-photo-mobile-jpg.png);
    width: 280px;
    height: 289px;
    margin-top: 57px;
}

.present__icon {
    padding-left: 90px;
}




@media (min-width: @tablet-width){
    .present__description {
        font-family: Arial;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: white;
        width: 160px;
    }  

    .present__part{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        width:500px;
    }

    .present {
        position: relative;
        background-image: url(../img/gift-photo-mobile-jpg.png);
        width: 245px;
        height: 289px;
        margin-top: 40px;
        margin-right: 110px;
    }

    .present__icon {
        padding-left: 90px;
        padding-top: 80px;
    }

    .present__description {
        font-family: Arial;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: white;
        width: 170px;
        padding-left: 40px;
        padding-top: 180px;
    }
    
}
