.programs{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 560px;
}

.programs__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 710px;
  padding-top: 10px;
}

.programs__list{
  display: flex;
  flex-direction: column;
  list-style: none; /* Отменим точки у списка*/
}
.programs__item{
  height: 266px;
  background-color: @white-three;
}

.programs__title {
  font-family: Oswald;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: @black-two;
  text-transform: uppercase;
}

.programs__item--slim{
  display: flex;
  flex-direction: column;
  height: 230px;
  margin-left: -20px;
}

.programs__part-slim{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
  height: 50px;
  padding-top: 5px;
}

.programs__item-logo--slim{
  padding-left: 10px;
  padding-top: 15px;
  }  

.programs__description{
  padding-top: 24px;
  width: 230px;
  height: 86px;
}

.programs__part-two{
  padding-top: 35px;
}

.programs__item-icon{
  padding-left: 8px;
}


.programs__item--pro{
  display: flex;
  flex-direction: column;
  height: 230px;
  margin-left: -20px;
  margin-top: 60px;
}

.programs__part-pro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 212px;
  height: 50px;
}

.programs__item-logo--pro{
  padding-top: 30px;
}

